{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "@typescript-eslint/semi": "off",
        "@typescript-eslint/indent": "off",
        "no-trailing-spaces": "off",
        "no-param-reassign": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "arrow-parens": "off",
        "@typescript-eslint/no-shadow": "off",
        "ipt-eslint/no-use-before-define": "off",
        "ipt-eslint/comma-dangle": "off"
    }
}